#myModalLabel {
    color: #FFEB3B;
    text-align: center;
}

#myModal {
    background-color: #E64A19;
}

#myLoginModalLabel {
    color: #FFEB3B;
    text-align: center;
}

#myLoginModal {
    background-color: #E64A19;
}


.modal-body > h3{
    color: #FFEB3B;
    font-size: medium;
    text-align: center;
}

/* Login Modal CSS Contents */

#loginModal {
    background: #E64A19;
    color: #FFEB3B;
}

.myLoginModalText {
    margin-right: 10px;
    margin-top: 10px;
}

.myLoginModalInput {
    margin-top: 10px;
    border: none;
    box-shadow: none;
}

.btn-srk {
    background: #FFEB3B;
    color: #E64A19;
    border: none;
    text-decoration: none;
}

.btn-srk:hover {
    background: #FFEB3B;
    color: #E64A19;
}

.btn-srk-cancel{
    background: #FFEB3B;
    color: #E64A19;
    border: none;
}

.btn-srk-cancel:hover{
    background: #FFEB3B;
    color: #E64A19;
    border: none;
}

.login-sign-footer {
    margin-top: 20px;
    margin-right: 10px;
}


#signUpModal {
    background: #E64A19;
    color: #FFEB3B;
}

#balakendraModalLabel{
    color: #FFEB3B;
    text-align: center;
}

#balakendraModal {
    background-color: #E64A19;
}

#yuvakendraModalLabel{
    color: #FFEB3B;
    text-align: center;
}

#yuvakendraModal {
    background-color: #E64A19;
}

#sreekendraModalLabel{
    color: #FFEB3B;
    text-align: center;
}

#sreekendraModal {
    background-color: #E64A19;
}

#shikshakendraModalLabel{
    color: #FFEB3B;
    text-align: center;
}

#shikshakendraModal {
    background-color: #E64A19;
}

#sevakendraModalLabel{
    color: #FFEB3B;
    text-align: center;
}

#sevakendraModal {
    background-color: #E64A19;
}

#seminarModalLabel{
    color: #FFEB3B;
    text-align: center;
}

#seminarModal {
    background-color: #E64A19;
}

#parentingworkshopsModalLabel{
    color: #FFEB3B;
    text-align: center;
}

#parentingworkshopsModal {
    background-color: #E64A19;
}

